.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem 0.625rem;
  padding: 2rem;
  margin-bottom: 1.25rem;

  .input-style {
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem 0.625rem;
    font-size: 0.9rem;
    background: #c5a2d370;
    width: 45%;

    @media  screen and (max-width: 768px) {
      width: 80%;
    }
  }
  .input-style::placeholder {
    color: #a551d3;
  }
  .button-style {
    color: #a551d3;
    border: 0.0625rem solid #a551d3;
    border-radius: 0.25rem;
    background-color: transparent;
    padding: 0.5rem 1.25rem;
  }

  .button-style:hover {
    -webkit-box-shadow: 0.3125rem 0.3125rem 1.25rem -0.75rem rgba(0, 0, 0, 0.25);
    box-shadow: 0.3125rem 0.3125rem 1.25rem -0.75rem rgba(0, 0, 0, 0.25);
  }
}

.products-list {
  background: #c5a2d3;
  background: -moz-linear-gradient(
    45deg,
    #c5a2d3 0%,
    #a47aa0 56%,
    #c56ebf 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #c5a2d3 0%,
    #a47aa0 56%,
    #c56ebf 100%
  );
  background: linear-gradient(45deg, #c5a2d3 0%, #a47aa0 56%, #c56ebf 100%);

  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 2rem;
  min-width: 30%;
  width: 50%;

  @media  screen and (max-width: 768px) {
    width: auto;
    margin: 1rem
  }

  .product {
    background-color: #ffffff94;
    border-radius: 0.25rem;
    color: #a551d3;
    margin-bottom: 0.5rem;
    padding: 0.625rem;

    
    @media  screen and (max-width: 768px) {
      font-size: 80%;
    }
  }
}
